* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  border-style: none;
  list-style-type: none;
  font-family: arial;
  text-decoration: none;
}

.container {
  width: 1100px;
  margin-left: 200px;
  margin: auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
}

.content .left-bar {
  width: 400px;
  background-color: #002245;
  height: 100%;
  position: fixed;
}

.content .left-bar .bar-items {
  margin: 50px;
}

.content .left-bar .bar-items .left-bar-logo {
  background-image: url(imgs/light.png);
  width: 110px;
  height: 130px;
  background-repeat: no-repeat;
}

.content .left-bar .bar-items .left-bar-menu {
  position: absolute;
  top: 40%;
  width: 200px;
}

.content .left-bar .bar-items .left-bar-menu li {
  width: 250px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.015);
  padding: 10px;
}

.content .left-bar .bar-items .left-bar-menu li a {
  color: white;
  padding: 20px 0;
  font-size: 16px;
  line-height: 2;
}

.content .left-bar .bar-items .left-bar-menu li a:hover {
  color: #ff9800;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .left-bar .bar-items .left-bar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 93%;
  width: 170px;
}

.content .left-bar .bar-items .left-bar-social .fa {
  color: white;
}

.content .main-content {
  width: 100%;
}

.content .main-content .introduction-image {
  background-image: url(imgs/Screenshot_3.png);
  width: 100%;
  height: 969px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content .main-content .content-introduction {
  margin-left: 40%;
  position: relative;
  top: -70%;
  margin-left: 50%;
}

.content .main-content .content-introduction .content-icon {
  background-image: url(imgs/3.jpg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .main-content .content-introduction .content-icon::before {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-repeat: blue;
  border: 5px solid rgba(255, 255, 255, 0.08);
}

.content .main-content .content-introduction .content-title {
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  margin-left: -60px;
  margin-top: 35px;
}

.content .main-content .content-introduction .content-title span {
  color: #ff9800;
}

.content .main-content .content-introduction .content-desc {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.content .main-content .content-introduction .down-icon {
  color: white;
  margin-top: 35%;
  margin-left: 50px;
}

.main-content {
  margin-left: 400px;
}

.main-content .about {
  height: 915px;
}

.main-content .about .container .title-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .about .container .title-items .biography-title {
  color: #ff9800;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.main-content .about .container .title-items .about-title {
  line-height: 1.4;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
}

.main-content .about .container .about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .about .container .about-items .about-left {
  height: 915px;
  width: 40%;
}

.main-content .about .container .about-items .about-left .about-flame {
  width: 390px;
  height: 460px;
  border-radius: 5px;
  border: 10px solid black;
  background-color: white;
  margin: 40px;
  margin-top: 180px;
}

.main-content .about .container .about-items .about-left .about-img {
  background-image: url(imgs/2.jpg);
  width: 390px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-top: -550px;
}

.main-content .about .container .about-items .about-right {
  height: 915px;
  width: 60%;
}

.main-content .about .container .about-items .about-right .right-items {
  margin-top: 140px;
  margin-left: 50px;
}

.main-content .about .container .about-items .about-right .right-items .right-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 30px;
}

.main-content .about .container .about-items .about-right .right-items .right-desc {
  color: #333;
  font-size: 16px;
}

.main-content .about .container .about-items .about-right .right-items .right-desc span {
  color: #ff9800;
}

.main-content .about .container .about-items .about-right .about-more-items {
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-content .about .container .about-items .about-right .about-more-items .about-more-item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  text-align: center;
}

.main-content .about .container .about-items .about-right .about-more-items .about-more-item .more-icon {
  color: #ff9800;
}

.main-content .about .container .about-items .about-right .about-more-items .about-more-item .more-title {
  font-weight: 600;
}

.main-content .about .container .about-items .about-right .about-more-items .about-more-item .more-answer {
  color: #333;
}

.main-content .about .container .about-items .about-right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin-left: 50px;
}

.main-content .about .container .about-items .about-right .buttons .button-flame {
  width: 180px;
  height: 50px;
  background-color: #ff9800;
  border-radius: 5px;
}

.main-content .about .container .about-items .about-right .buttons .button-flame a {
  color: white;
  margin: 40px;
  position: relative;
  top: 15px;
}
/*# sourceMappingURL=style.css.map */